{% extends 'base.html' %}

{% block title %} Respuesta {% endblock %}

{% block content %}

<h2>Lista de Programas</h2>
<table class="tabla-programas">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% for prog in programas %}
      <tr>
        <td>{{ prog[0] }}</td>
        <td>{{ prog[1] }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">No hay programas registrados.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}