{% extends 'base.html' %}

{% block title %} Programas {% endblock %}

{% block content %}
<h1>Modificar</h1>

<form action="/actualizar/{{ programa['codcarrera'] }}" method="post">
  <label for="codcarrera">Código de carrera:</label><br>
  <input type="number" id="codcarrera" name="codcarrera" value="{{ programa['codcarrera'] }}" readonly><br><br>

  <label for="descarrera">Descripción carrera:</label><br>
  <input type="text" id="descarrera" name="descarrera" value="{{ programa['descarrera'] }}" required><br><br>

  <input type="submit" value="Actualizar">
</form>

{% endblock %}